.navbar {
  max-width: 133rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99999;
  margin: 0 auto;

}

.navbar-blur {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.8);

}

@media (min-width: 1024px) {
  .navbar {
    max-width: 100%;
  }
}

.navbar_img {
  width: 14.5rem;
}

.navbar_img img {
  width: 100%;
  height: 100%;
}

.navbar_links {
  display: flex;
  list-style: none;
  gap: 2.1rem;
}

.navbar_links a {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #010103;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar_links a:hover {
  color: #ad21ff;
}

@media (max-width: 1000px) {
  .navbar_links {
    display: none;
  }
}

.navbar_buttons {
  display: flex;
  gap: 2.5rem;
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  align-items: center;
}

@media (max-width: 1000px) {
  .navbar_buttons {
    display: none;
  }
}

.navbar_buttons_sign-in {
  color: #000000;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar_buttons_sign-in:hover {
  color: #ad21ff;
}

.navbar_buttons_register {
  background-color: #ad21ff;
  color: white;
  padding: 1.5rem 3rem;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 rgba(144, 24, 255, 0.5);
  transition: all 0.3s;
}

.navbar_buttons_register:hover {
  box-shadow: 0 10px 15px 0 rgba(144, 24, 255, 0.5);
  background-color: #6200ff;
}

.navbar_buttons a {
  text-decoration: none;
}
